body{
    /* background-color: #fffee6; */
    background-image: url("../images/Main Page/main_background.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; /
}

.pop_out {
    animation: popEffect 1s ease forwards;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-style: italic;
}

.skip_link {
    position: absolute;
    left: -20px;
    top: -20px;
    overflow: hidden;
  }

  .skip_link:focus {
    top:0px;
    left:0px;
    width: auto;
    height: auto;
    overflow: visible;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 20;
  }

@keyframes popEffect {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}

.hi_there{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-style: italic;
}

.navigation {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    margin-left: 20px; 
    font-size: 1.2em;
}

.navigation a:hover{
    text-decoration: underline wavy;
    color: purple;
}

.blue_overlay{
    background-color: rgba(173, 216, 230, 0.85); 
    position: relative;
    top: 10px;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 4em;
   
}

.container{
    position: relative;
    border: 2px solid black; 
    padding: 20px; 
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 2);
    margin: auto; 
    max-width: 800px; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    grid-gap: 20px;
}

.container img {
    width: 80%; 
    height: auto;
    grid-row: 1 / 3; 
    grid-column: 1; 
}

.container h3 {
    font-size: 2em;
    grid-row: 1;
    grid-column: 2; 
    margin: 0;
}

.container p {
    grid-row: 2; 
    grid-column: 2; 
    overflow: auto;
}



.hci-section {
    /* background: rgb(204, 230, 255, 0.9); */
    background: linear-gradient(to bottom right, rgb(204, 230, 255,1.5) 0%, white 50%, rgb(186, 200, 252,1.5) 100%);
    padding: 50px;
    height: calc(100% - 100px); 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

blockquote {
    font-style: italic;
    font-size: 1.2em;
    width: 60%; 
    margin: 20px auto;
    line-height: 1.5;
    text-align: start;
    max-width: 800px;
}

/* hci section sliding */
.hci_section_all{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes slideInFromLeft {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }
}

.hci-section-visible {
    animation: slideInFromLeft 1.5s ease-out forwards;
}

.hci-section-hidden {
    animation: slideOutToLeft 1.5s ease-out forwards;
}



/* for song player styling */
.hidden {
    display: none;
}

.show{
    display: block;
}


.songPlayer {
    position: fixed; 
    top: 90%; 
    right: 0; 
    transform: translateY(-65%); 
    
    border: solid black 3px;
    background-color: #fffee6;
    border-radius: 10px;
    padding: 5px;
    
}


#progressBarContainer {
    width: 80%; 
    height: 8px;
    background-color: black;
    margin: auto; 
    cursor: pointer;
}

#progressBar {
    height: 100%;
    background-color: grey;
    width: 0%; 

}

#songList{
    width: 30%;
    display: block;
    margin: 0 auto; 
    margin-bottom: 5px;
}

#songList option.playing {
    color: rgb(2, 193, 114); 
    font-weight: bold;
    font-style: italic;
}

#currentSongInfo {
    text-align: center; 
    color: #000; 
    margin-top: 10px; 
    margin-bottom: 5px;
}

/* Responsive design for mobile view */
@media screen and (max-width: 600px) {

    .navigation {
        top: 10px;
        right: 10px; 
        width: auto; 
        flex-direction: column;
        align-items: flex-end; 
        padding: 5px;
    }

    .navigation a {
        margin: 0 0 5px; 
    }

    .blue_overlay{
        border-radius: 10px;
        top: 0px;
    }

    .container {
        display: grid;
        border-radius: 20px;
        top: 10px;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        justify-items: center; 
        align-items: start; 
        text-align: center; 
        width: auto; 
        max-width: 800px; 
    }

    .container img {
        width: 60%; 
        height: auto; 
        grid-column: 1; 
        grid-row: 1; 
    }

    .container h3 {
        grid-column: 1; 
        grid-row: 2; 
        font-size: 2em; 
        margin: 0.5em 0; 
    }

    .container p {
        grid-column: 1; 
        grid-row: 3; 
        overflow: auto; 
        text-align: left;
    }



    .songPlayer {
        bottom: 0;
        right: 0;
        top: auto; 
        transform: none; 
        width: auto; 
    }

    #songList {
        width: 90%; 
    }

    .header h1, .contact h2 {
        font-size: 1.5em; 
    }

}

