body {
    /* background-color: #fffee6; */
    background-image: url("../images/Main Page/main_background.jpg");
    background-size: cover; /* This ensures the image covers the whole body */
    background-position: center; /* This centers the image in the body */
    background-repeat: no-repeat; /* This prevents the image from repeating */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5); 
    margin-left: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: black;
    margin-left: 20px; /* Space out the navigation links */
    font-size: 1.2em;
}

.navigation a:hover{
    text-decoration: underline wavy;
    color: purple;
}

.content_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns with the second column twice the width of the first */
    grid-template-rows: auto auto; /* Two rows */
    align-items: start; /* Align items to the start of the container vertically */
    justify-content: center; /* Center items horizontally */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border: 3px solid #ADD8E6; /* Light blue border */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); /* Optional: adds a subtle shadow */
    margin: auto; /* This will center the border-box if within a flex container */
    margin-bottom: 25px;
    gap: 10px; /* Space between the grid items */
}

/* Ensure that default margins on headings and paragraphs are not adding extra space */
h1, h2, h3, p {
    margin-top: 10px;
    margin-bottom: 10px;
}


.avatar_image {
    grid-column: 1 / 2; /* Takes up the first column */
    grid-row: 1 / 3; /* Spans both rows */
    /* Removed flex property as it's not needed in grid */
}

.avatar_image img {
    width: 100%; /* Full width of the grid area */
    height: auto; /* Maintain aspect ratio */
    /* max-width: 300px; If you want to limit the image size, otherwise it will fill the grid area */
}

.text_content {
    grid-column: 2 / 3; /* Takes up the second column */
    grid-row: 1 / 2; /* Takes up the first row */
    /* Removed flex property as it's not needed in grid */
    text-align: left;
    margin-bottom: 0;
    font-size: 0.9em;
    padding-bottom: 0px;
}

.text_content_inner {
    grid-column: 2 / 3; /* Takes up the second column */
    grid-row: 2 / 3; /* Takes up the second row */
    text-align: left;
    /* If there is any specific styling for text_content_inner, it should be added here */
}

/* No changes needed for .text_content h1, .text_content h3, .text_content p, .links a */




.research_description {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border: 3px solid #ADD8E6; /* Light blue border */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); /* Optional: adds a subtle shadow */
    max-width: 1200px; /* Adjust the width as necessary */
    margin: auto; /* This will center the border-box if within a flex container */
}

.research_description h2{
    text-align: center;
}

.research_description p{
    text-align: left; /* Align text to the left */
    margin: 0 auto; /* Center the paragraph in the container */
    max-width: 1000px; /* Maximum width of the paragraph content */
    display: block; 
    padding-bottom: 10px;
}

.research_description video {
    display: block; 
    margin: 0 auto; 
    max-width: 640px; 
}

.video_des {
    text-align: center;
    margin: 0 auto; /* Centers the element within its container */
    max-width: 640px; /* Set this to match the video width or as needed */
    display: block; /* Ensures it's treated as a block-level element */
}





/* for song player styling */
.hidden {
    display: none;
}

.show{
    display: block;
}


.songPlayer {
    position: fixed; 
    top: 90%; 
    right: 0; 
    transform: translateY(-65%); 
    
    border: solid black 3px;
    background-color: #fffee6;
    border-radius: 10px;
    padding: 5px;
    
}




#progressBarContainer {
    width: 80%; 
    height: 8px;
    background-color: black;
    margin: auto; 
    cursor: pointer;
}

#progressBar {
    height: 100%;
    background-color: grey;
    width: 0%; 

}

#songList{
    width: 30%;
    display: block;
    margin: 0 auto; 
    margin-bottom: 5px;
}

#songList option.playing {
    color: rgb(2, 193, 114); 
    font-weight: bold;
    font-style: italic;
}

#currentSongInfo {
    text-align: center; 
    color: #000; 
    margin-top: 10px; 
    margin-bottom: 5px;
}


/* response design for phone */
@media screen and (max-width: 600px) {

    .navigation {
        top: 10px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
        width: auto; /* Width as wide as its content */
        flex-direction: row;
        align-items: flex-end; /* Align items to the right */
        padding: 5px;
    }

    .navigation a {
        margin: 0 0 5px; /* Adjust spacing between links */
        padding: 10px;
    }

    .content_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
        align-items: start;
        margin-top: 10px;
        padding: 20px;
        text-align: center;
        max-width: 800px;
    }

    .avatar_image {
        grid-column: 1;
        grid-row: 2; /* Position the avatar image in the second row */
        width: 100%; /* Make sure the container spans the full width */
        height: auto;
    }

    .avatar_image img {
        width: 100%; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure the image is not set to display: none */
    }


    .text_content {
        grid-row: 1 ; /* Position the text content in the first row */
        grid-column: 1;
    }

    .text_content h1 {
        font-size: 1.4em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .text_content_inner {
        grid-row: 3; /* Position the text content inner in the third row */
        grid-column: 1;
        padding-top: 0; /* Remove any additional padding that might be creating space */
    }

    .songPlayer {
        bottom: 0;
        right: 0;
        top: auto; /* Remove the top positioning */
        transform: none; /* Remove transform */
        width: auto; /* Width as wide as its content */
    }

    #songList {
        width: 90%; /* Increase width for easier selection */
    }

    .header h1, .contact h2 {
        font-size: 1.5em; /* Adjust font size for readability */
    }

}

