/* for song player styling */
.hidden {
    display: none;
}

.show{
    display: block;
}

/* #musicPlayer {
    
} */
.songPlayer {
    position: fixed; /* Fixed position relative to the viewport */
    top: 90%; /* Vertically center */
    right: 0; /* Align to the right side */
    transform: translateY(-50%); /* Vertically center with respect to its own height */
    /* Your existing styles for songPlayer */
    border: solid black 3px;
    background-color: #fffee6;
    border-radius: 10px;
    padding: 5px;
    
}


#progressBarContainer {
    width: 80%; /* One-third of the screen width */
    height: 8px;
    background-color: black;
    margin: auto; /* Center the progress bar */
    cursor: pointer;
}

#progressBar {
    height: 100%;
    background-color: grey;
    width: 0%; /* Start with no width */

}

#songList{
    width: 30%;
    display: block; /* Change its display property to block */
    margin: 0 auto; /* Auto margins on both sides */
    margin-bottom: 5px;
}

#songList option.playing {
    color: rgb(2, 193, 114); /* Highlight for the current song */
    font-weight: bold;
    font-style: italic;
}

#currentSongInfo {
    text-align: center; /* Centers the text */
    color: #000; /* Set the text color */
    margin-top: 10px; /* Spacing above the text */
    margin-bottom: 5px;
}

