body {
    /* background-color: #fffee6; */
    background-image: url("../images/Main Page/main_background.jpg");
    background-size: cover; /* This ensures the image covers the whole body */
    background-position: center; /* This centers the image in the body */
    background-repeat: no-repeat; /* This prevents the image from repeating */
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
}

.portfolio_grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));;
    justify-content:center;
    align-items: start;
    gap: 20px;
}

.about_me a{
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: none;
}

.about_me a:hover{
    text-decoration: underline wavy;
    color: purple;
}

.contact{
    text-align: center;
}

.what_i_do{
    color: rgb(0, 140, 136);
}

.header p{
    max-width: 700px;
}

.AR_VR{
    text-align: center;
}

.vr_facial_expression {
    position: relative;
    width: 60%; /* Adjust as needed */
}

.vr_facial_expression img{
    width: 100%;
    height: auto;
    /* position: relative; */
    transition: opacity 0.3s ease;
}

.vr_facial_expression div {
    position: absolute;
    bottom: -20px;
    left: 20px;  
    font-size: 16px; 
    border: solid 2px rgb(0, 168, 163);
    padding: 6px 8px;
    background-color: #fffee6;
    color: rgb(0, 168, 163);
}

.vr_facial_expression h3{
    max-width: 400px;
    text-decoration: underline;
}

.vr_facial_expression p{
    /* max-width: 400px;
    color: rgb(0, 168, 163); */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    color: white; /* Choose color that is visible on your images */
    opacity: 0; /* Hide initially */
    transition: opacity 0.3s ease;
    /* text-align: center; */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 5px;
    border-radius: 5px;
    /* max-width: 200%; */
    width: 250px;
    /* box-sizing: border-box; */
    
}

/* Hover effects */
.vr_facial_expression:hover img {
    opacity: 0.5; /* Image fades */
}

.vr_facial_expression:hover p {
    opacity: 1; /* Text appears */
}

.dku_ar_campus img{
    width: 50%;
    height: auto;
    position: relative;
}

.dku_ar_campus div {
    position: absolute;
    bottom: -20px;
    left: 660px;  
    font-size: 16px; 
    border: solid 2px rgb(0, 168, 163);
    padding: 6px 8px;
    background-color: #fffee6;
    color: rgb(0, 168, 163);
}

.dku_ar_campus h3{
    max-width: 400px;
    text-decoration: underline;
}

.dku_ar_campus p{
    max-width: 400px;
    color: rgb(0, 168, 163);
    
}